<header class="border">
  <div class="p-5 flex text-center justify-between align-middle">
    <div class="">
      <img src="../assets/swiggy-1.svg" alt="" class="h-14" />
    </div>
    <div class="menuHidden hidden lg:block">
      <ul
        class="flex flex-col lg:flex-row w-[100%] min-h-screen lg:min-h-fit justify-center space-y-28 pt-10 lg:pt-0 lg:justify-center lg:space-y-0 lg:space-x-10"
      >
        <li class="">
          <div class="">
            <button
              class="flex duration-700 active:scale-50 hover:bg-orange-600 text-orange-600 hover:text-gray-100 dark:text-white rounded-2xl px-5 py-4"
            >
              <svg
                class="w-6 h-6"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 20"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                />
              </svg>
              <span class="ps-2">Search</span>
            </button>
          </div>
        </li>
        <li class="">
          <div class="">
            <button
              class="flex duration-700 active:scale-50 hover:bg-orange-600 text-orange-600 hover:text-gray-100 dark:text-white rounded-2xl px-5 py-4"
            >
              <svg
                class="w-6 h-6"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M7.824 5.937a1 1 0 0 0 .726-.312 2.042 2.042 0 0 1 2.835-.065 1 1 0 0 0 1.388-1.441 3.994 3.994 0 0 0-5.674.13 1 1 0 0 0 .725 1.688Z"
                />
                <path
                  d="M17 7A7 7 0 1 0 3 7a3 3 0 0 0-3 3v2a3 3 0 0 0 3 3h1a1 1 0 0 0 1-1V7a5 5 0 1 1 10 0v7.083A2.92 2.92 0 0 1 12.083 17H12a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h1a1.993 1.993 0 0 0 1.722-1h.361a4.92 4.92 0 0 0 4.824-4H17a3 3 0 0 0 3-3v-2a3 3 0 0 0-3-3Z"
                />
              </svg>
              <span class="ps-2">Help</span>
            </button>
          </div>
        </li>
        <li class="">
          <div class="">
            <button
              class="flex duration-700 active:scale-50 hover:bg-orange-600 text-orange-600 hover:text-gray-100 dark:text-white rounded-2xl px-5 py-4"
            >
              <svg
                class="w-6 h-6"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 18"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M7 8a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm-2 3h4a4 4 0 0 1 4 4v2H1v-2a4 4 0 0 1 4-4Z"
                />
              </svg>
              <span class="ps-2">SignIn</span>
            </button>
          </div>
        </li>
        <li class="">
          <div class="">
            <button
              class="flex duration-700 active:scale-50 hover:bg-orange-600 text-orange-600 hover:text-gray-100 dark:text-white rounded-2xl px-5 py-4"
            >
              <svg
                class="w-6 h-6"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 18 20"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-9-4h10l2-7H3m2 7L3 4m0 0-.792-3H1"
                />
              </svg>
              <span class="ps-2">cart</span>
            </button>
          </div>
        </li>
      </ul>
    </div>
    <div class="hidden lg:block">
      <button
        class="px-5 py-4 bg-orange-600 text-white rounded-full active:scale-75 duration-700"
      >
        Order Now
      </button>
    </div>
    <div class="lg:hidden">
      <div *ngIf="!menuBars" class="lg:hidden py-4" (click)="callMenu()">
        <svg
          class="w-6 h-6 text-orange-500 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </div>
      <div *ngIf="menuBars" class="lg:hidden py-4" (click)="callMenu()">
        <svg
          class="w-6 h-6 text-orange-500 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
          />
        </svg>
      </div>
    </div>
  </div>
</header>

<main class="">
  <div class="flex flex-col lg:flex-row">
    <div class="lg:px-20 p-5 lg:w-1/2 lg:h-screen relative ">
      <div class="flex flex-col justify-center lg:absolute lg:top-60 order-2 lg:order-1">
        <h1 class="text-3xl font-bold flex  justify-start initText ">
          Best offers for you
        </h1>
        <p class="initText2">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla
          corporis sapiente fugiat sed minus. Dolor sint voluptatem, adipisci
          suscipit omnis voluptatum velit assumenda quis ut nobis, quasi aliquid
          voluptate molestiae! Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Nam nostrum, iure quod excepturi, fugit assumenda
          nesciunt, dolorem nihil quasi aperiam labore animi cumque repudiandae
          beatae. Officiis pariatur saepe neque? Quae?
        </p>
      </div>
    </div>
    <div class="lg:w-1/2 flex order-1 lg:order-2">
      <div class="w-1/2 h-fit">
        <img
          class="absolute pt-5 left-50 images z-50"
          src="../assets/Fresh-Healthy-Food-Background-PNG.png"
          alt=""
        />
      </div>
      <div class="z-1 bg-orange-500 background w-1/2 lg:h-screen vh-100"></div>
    </div>
  </div>
</main>
